<nav id="main-nav">
  <ul>
    <li><a href="/">Home</a></li>
    <% if (locals.nav) { %>
      <% nav.forEach(classification => { %>
        <li>
          <a href="/inv/type/<%= classification.classification_id %>">
            <%= classification.classification_name %>
          </a>
        </li>
      <% }) %>
    <% } %>
  </ul>
</nav>